streamlit
requests
langchain
langchain_text_splitters
chromadb
sentence-transformers
pypdf
python-docx
#if you do not have bew install it
#brew install ollama
#ollama pull mistral

# LoRA Training
torch
transformers
datasets
peft
accelerate
tqdm
sentencepiece